@model ExerciseApp.Models.IndexViewModel
@{
    string profile_picture = "https://graph.facebook.com/" + @Model.UserId + "/picture?type=large";
}

<div class="row">
    <div class="col-md-12">
        <div class="col-md-3">
            <img style="height: 200px; width: 200px; border-radius: 200px" src="@profile_picture" />
        </div>
        <div class="col-md-9">
            <h3>Welcome to you, @Model.UserFirstName @Model.UserLastName ! ^_^ </h3>
            <h4>Your birthday is @Model.UserBirthday</h4>
            <h5>Your gender is @Model.UserGender</h5>
            <div style="display:flex" class="level-container col-md-12" data-currentxp="@Model.totalXpForThisLevelEquals" data-nextlevel="@Model.totalXpForNextLevel">
                <div class="current-level col-xs-1">
                    <span>@Model.currentUserLevel</span>
                </div>
                <div class="xp-bar col-xs-10">
                    <div style="text-align:center"></div>
                        <p>@Model.totalXpForThisLevelEquals xp / @Model.totalXpForNextLevel xp</p>
                </div>
                <div class="next-level col-xs-1 pull-right">
                    <span>@Model.nextUserLevel</span>
                </div>
            </div>
        </div>
        
        
    </div>
    <div class="col-md-12">
        <div class="col-md-12">
            <h1>User Actions</h1>
            <a class="btn btn-success" href="/manage/categories">Add Exercise</a>
        </div>
        
    </div>
    

    
</div>