@model ExerciseApp.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

@*<h4>To see this page, please log in</h4>*@
<p style="font-size:14px; padding-top:35px;"><b>Note</b><br />For use this application, you need to sign in with facebook account</p><br />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0) {
        <div>
            <p>
                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support logging in via external services.
            </p>
        </div>
    }
    else {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
            @Html.AntiForgeryToken()
            <div id="socialLoginList" style="width:100%;">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders)
                    {
                        <button id="@p.AuthenticationType"  name="provider" value="@p.AuthenticationType" type="submit" class="signInButton" type="button">
                            <span>
                                <img id="facebookIkon" src="/images/facebook-icon.png"><b>Login</b> with <b>@p.AuthenticationType</b>
                            </span>
                        </button>

                        @*<button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">@p.AuthenticationType</button>*@
                    }
                </p>
            </div>
        }
    }
}
